.deal1
{
	float:center;
	width:800px;
	border:1px solid #c1c1c1;
	margin:10px 10px 40px 10px;
	padding: 0px 2px;

}
.deal1 > ul
{
	font-size:13px;
	color: #636363;
	width: 280px;
	float: left;
	text-align: left;
}
.image1 
{
	min-height:200px;
	max-width: 300px;
	margin: 0px -189px -4px -3px;
	
}
.button1 
{
	background-color: #636363;
	color: white;
	padding: 4px 10px;
	margin: 150px 2px 4px -280px;
	float: left;
	cursor: pointer;
	text-decoration: none;
}