<!DOCTYPE html>
@model  Bon_Voyage.Models.staff
@{
    if (Session["adminSession"] != null)
    {
        <script>
            window.location = '@Url.Action("Admin", "Staff")'
        </script>
    }
    if (Session["guideSession"] != null)
    {
        <script>
            window.location = '@Url.Action("Guide", "Staff")'
        </script>
    }
}
<html>
<head>
    <title>Login | Bon Voyage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0px;
            width: 100%;
            font-family: Century Gothic,‘Lucida Grande’, sans-serif;
        }

        head {
            margin: 0px;
            font-family: Century Gothic, ‘Lucida Grande’, sans-serif;
        }

        #upperbar {
            width: 100%;
            height: 70px;
            margin-top: 0px;
            background: black;
        }

        #lowerbar {
            width: 100%;
            height: 70px;
            margin-bottom: 0px;
            background: black;
        }

        #main {
            height: 100%;
            width: 65%;
            margin-left: auto;
            margin-right: auto;
            background-color: white;
            padding-left: auto;
            padding-right: auto;
        }
    </style>

</head>

<body>
    <div id="upperbar"></div>
    <div id="main">
        <br /><img src="~/images/admin.jpg" height="350px" width="350px" align="center">
        
            <form method="post" action="/Home/ForgotPassword">
                <p align="center">

                    <b> Account Verification </b> <br /><br />
                    Name
                    <br />
                    <input type="text" name="name" align="center" required=""><br /><br />
                    Security Question <br />
                    <select name="question">
                        <option value="birth">What is your birth place</option>
                        <option value="pet">What is your pet's name</option>
                    </select>
                    <br /><br />
                    Answer
                    <br />
                    <input type="text" name="answer" align="center" required=""><br />
                    <br /><br />
                    <input type="submit" name="submit" value="Login" align="center">
                </p>

</form>
    <br />
        <br />
    </div>
    <div id="lowerbar"></div>
</body>
</html>